title Arch Linux
linux /vmlinuz-linux
initrd /intel-ucode.img
initrd /initramfs-linux.img
options rd.luks.uuid={{ root_uuid.stdout }} rd.luks.name={{ root_uuid.stdout }}=arch-root root=/dev/mapper/arch-root mem_sleep_default=deep
