[Unit]
Description=Linux Application Launcher
Documentation=https://ulauncher.io/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/ulauncher --hide-window
Restart=on-failure

[Install]
WantedBy=sway-session.target
