[Unit]
Description=Polkit authentication agent

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

[Install]
WantedBy=default.target

